$white-color: #fff;
$black-color: #000;
$black-primary: #444444;
$black-secondary: #222222;
$grey-primary: #e5e5e5;
$grey-secondary: #828282;
$primary-background-color: #e5e5e5;
$primary-color: #c0a063;
$secondary-color: #0b1d51;
