@import '../styles/base';
@import '../styles/variables';

footer {
  background-color: $black-secondary;
  padding: 7rem 5rem 1rem 10rem;
  margin-bottom: 0 !important;

  .footer__section {
    display: flex;
    padding-right: 20rem;
    justify-content: space-between;
    margin-bottom: 4rem;
  }

  h5,
  h6 {
    color: #fff;
    font-size: 1.8rem;
  }

  p {
    margin-bottom: 0;
    color: $primary-color;
    font-size: 1.5rem;
  }

  a {
    color: #fff;
    text-decoration: none;

    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }

  .quick__links li:not(:last-child) {
    margin-bottom: 2rem;
  }

  .socials {
    display: flex;
    margin-top: 2rem;
  }

  .socials li:not(:last-child) {
    margin-right: 2rem;
  }

  .line {
    border-top: 1px solid $primary-color;
    margin-bottom: 1.5rem;
  }
}
ul li {
  color: $primary-color;
  font-size: 1.5rem;
}
