.header {
  background-color: #c0a063;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 8rem;

  @media screen and(max-width:768px) {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 2rem;
    display: none;
  }

  .email,
  .phone {
    margin-left: 0.5rem;
  }

  span {
    font-size: 1.5rem;
    color: #fff;
  }

  .socials {
    border-left: 1px solid #fff;
    margin-left: 2rem;
    padding-left: 2rem;
    display: flex;
    align-items: center;

    img:not(:last-child) {
      margin-right: 2rem;
    }
  }

  .addressSection {
    display: flex;
    align-items: center;

    @media screen and(max-width:768px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .emailAddress,
  .phoneNumber {
    @media screen and(max-width:768px) {
      margin-bottom: 0.5rem;
    }
  }
}
