.navbar {
  background-color: #fff !important;
  color: #000 !important;
  margin-left: 0 !important;
  margin-right: 2rem;

  .brand__logo {
    margin-right: 20rem;
  }

  &__link {
    font-size: 1.8rem;
  }

  &__item {
    margin-left: 2rem;
  }
}
