.appbar {
  background-color: #ffffff;
  color: #000;
  margin-right: 2rem !important;
  margin-left: 0 !important;

  .brand__logo {
    margin-right: 20rem;
  }

  &__link {
    font-size: 1.8rem;
  }

  &__item {
    margin-left: 2rem;
  }
}
