.appbar {
  background-color: #fff;
  color: #000;
  position: sticky !important;
  top: 0 !important;
  z-index: 9999 !important;

  .brand__logo {
    margin-right: 20rem;
    @media screen and(max-width:768px) {
      margin-right: 0;
    }
  }

  &__link {
    font-size: 1.8rem;
  }

  &__item {
    margin-left: 2rem;
  }
}
