@import './styles/base';
@import './styles/variables';

// home hero styles
.homeHeroOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}

// carousel styles
.dropdown-item.active,
.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: white !important;
}

.navbar-toggler-icon {
  font-size: 20px;
}

.dropdown-item {
  font-size: 1.5rem !important;
  color: #000 !important;
  margin-bottom: 1rem !important;
}

.carousel-caption {
  position: absolute;
  top: 0 !important;
  bottom: 0 !important;
  right: 0 !important;
  left: 0 !important;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  .description {
    margin-bottom: 3rem;
    @media screen and(max-width:768px) {
      margin-bottom: 2rem;
    }
  }

  h3 {
    font-size: 3rem;
    text-transform: uppercase;
    line-height: 1.2;

    @media screen and(max-width:768px) {
      font-size: 2rem;
    }
  }
  p {
    font-size: 2rem;
    line-height: 0.8;
    @media screen and(max-width:768px) {
      line-height: 1.2;
    }
  }
}

//end of carousel styles

// end of home hero styles

// global Title styles
.title {
  color: $primary-color;
  margin-bottom: 3rem;
  text-transform: uppercase;
  font-size: 3rem;
  text-align: center;
}
// end of global styles

.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  column-gap: 2rem;
  row-gap: 2rem;
  padding: 10rem 5rem 5rem 5rem;
  background-color: $grey-primary;
  @media screen and(max-width:768px) {
    padding: 4rem 5rem 5rem 5rem;
  }

  .service {
    background-color: #fff;
    border-radius: 16px 16px 16px 16px;
    margin-bottom: 2rem;

    &__description {
      font-size: 1.5rem;
      padding: 2rem 3rem 4rem 3rem;
      display: grid;
      place-items: center;

      @media screen and(max-width:768px) {
        font-size: 2rem;
      }
    }

    &__title {
      font-size: 2rem;
      margin-bottom: 2rem;
      color: $black-secondary;
      text-align: center;
    }

    a {
      color: #ff9900;
      margin-top: 3rem;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.register {
  background-image: url('./assets/images/registerbanner.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 40rem;
  display: grid;
  place-items: center;
  position: relative;
  padding: 0 2rem;

  .registerOverlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(11, 29, 81, 0.7);
    z-index: 1;
  }

  &__cta {
    display: grid;
    place-items: center;
    z-index: 2;
  }

  h5 {
    font-weight: 700;
    font-size: 3.5rem;
    color: #fff;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
  }

  span {
    color: #ff9900;
  }

  p {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 0;
    color: #fff;
    font-weight: 300;
  }

  a {
    color: #ff9900;
    font-weight: 400;
    border: 2px solid #ff9900;
    border-radius: 50px;
    padding: 0.8rem 5rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-top: 4rem;

    @media screen and(max-width:768px) {
      display: none;
    }

    &:hover {
      color: #ff9900;
      text-decoration: none;
    }
  }
}

// latest news
.lastestnews {
  padding: 5rem 5rem;
  width: 90vw;
  margin: 0 auto;

  &__news {
    display: grid;
    column-gap: 2rem;
    row-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

.news {
  &__title {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.7;
    margin-top: 1rem;
    height: 60px;
    color: $black-primary;

    @media screen and(max-width:768px) {
      font-size: 2rem;
    }
  }

  &__description {
    font-size: 1.5rem;
    color: $grey-secondary;
    @media screen and(max-width:768px) {
      font-size: 2rem;
      text-align: center;
    }
  }
}

// end of lastest news

// testimonials
.testimonials {
  padding: 5rem 5rem;
  background-color: $primary-background-color;

  &__section {
    display: grid;
    column-gap: 2rem;
    row-gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

.testimonial {
  h5 {
    font-size: 1.5rem;
    line-height: 1.7;
    margin-top: 1rem;
    text-align: center;
    color: $black-secondary;

    @media screen and(max-width:768px) {
      font-size: 2rem;
    }
  }

  p {
    color: $grey-secondary;
    text-align: center;
    font-size: 2rem;
    font-weight: 200;
    @media screen and(max-width:768px) {
      font-size: 2.5rem;
    }
  }
}

// team
.team {
  padding: 5rem 5rem;
  width: 90vw;
  margin: 0 auto;

  &__section {
    display: grid;
    column-gap: 4rem;
    row-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    img {
      width: 100%;
      object-fit: cover;
      object-position: center;
    }

    &__name {
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 1.7;
      margin-top: 1rem;
      color: $primary-color;
      text-align: center;
      font-size: 2rem;
      text-transform: capitalize;
      font-weight: 600;
      @media screen and(max-width:768px) {
        font-size: 2rem;
      }
    }

    &__title {
      font-size: 1.8rem;
      color: $grey-secondary;
      text-align: center;
      margin-top: 1rem;
      @media screen and(max-width:768px) {
        font-size: 2rem;
      }
    }
  }
}

.subscribeform {
  @media screen and(max-width:768px) {
    width: 70%;
  }
  input {
    border: none;
    font-size: 15px;
    padding: 5px 0 5px 1rem;
    border-radius: 5px;
    background: #f5f5f5;
    width: 100%;

    &::placeholder {
      color: #bdbdbd;
    }
    &:focus {
      outline: none;
    }
  }

  .formControl {
    margin-bottom: 2rem;
  }

  button {
    display: block;
    width: 100%;
    border: none;
    background: $primary-color;
    color: #fff;
    font-size: 15px;
    border-radius: 5px;
    padding: 5px 0 5px 1rem;
  }
}

.marketPriceList {
  padding: 5rem 0 7rem 0;
  font-size: 2rem;
}

.marketPriceList__section {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

table {
  width: 100%;
  font-size: 1.3rem;
  overflow: hidden;
}

table thead {
  text-align: center;
  text-transform: uppercase;
}

tr,
th,
td {
  border: 1px solid black;
}

table thead tr.Tabletitle {
  background-color: #c0a063;
  border: none;
}

table th {
  padding: 1rem 1rem;
  font-weight: 100;
  color: #000;
}

table tr,
table td {
  padding: 1rem 1rem;
}

// services

.capitalMarkets {
  padding: 0 6rem;
  background-color: $grey-primary;
}
.servicesHero {
  background-image: url('./assets/images/serviceshero.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 50rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  @media screen and(max-width:768px) {
    height: 30rem;
  }

  .servicesHeroOverlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(192, 160, 99, 0.4);
    z-index: 1;
  }

  h5 {
    font-size: 5rem;
    font-weight: 700;
    text-transform: uppercase;
    z-index: 2;
  }

  p {
    font-size: 3rem;
    z-index: 2;
  }
}

.loginsection {
  background-image: url('./assets/images/login2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50rem;
}

.loginForm {
  width: 30%;
  margin: 0 auto;
  padding-bottom: 5rem;
  background: rgba(0, 47, 87, 0.9);
  padding: 5rem 4rem;

  @media screen and(max-width:768px) {
    width: 90%;
  }

  .form-control {
    font-size: 1.5rem;
    padding: 2rem 0 2rem 1rem;

    &::placeholder {
      font-size: 1.5rem;
    }
  }

  .formLabel {
    font-size: 1.5rem;
    color: white;
  }

  .formText {
    font-size: 1.3rem;
    color: white;
  }

  button {
    font-size: 2rem;
    width: 20rem;
    margin-top: 1rem;
    background-color: $primary-color;
    border: none;
  }

  .sinupCta {
    display: flex;
    justify-content: center;
    align-items: baseline;
    color: white;
    font-size: 1.5rem;
    margin-top: 4rem;
  }
}

.contactForm {
  padding-top: 5rem;
  width: 30%;
  margin: 0 auto;
  padding-bottom: 5rem;
  @media screen and(max-width:768px) {
    width: 80%;
  }

  .form-control {
    font-size: 1.5rem;
    padding: 2rem 0 2rem 1rem;

    &::placeholder {
      font-size: 1.5rem;
    }
  }

  .formLabel {
    font-size: 1.5rem;
    color: #000;
  }

  .formText {
    font-size: 1.3rem;
    color: #000;
  }

  button {
    font-size: 2rem;
    width: 20rem;
    margin-top: 1rem;
    background-color: $primary-color;
    border: none;
  }

  .sinupCta {
    display: flex;
    justify-content: center;
    align-items: baseline;
    color: white;
    font-size: 1.5rem;
    margin-top: 4rem;
  }
}

.contactHero {
  background-image: url('./assets/images/contact1.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 45rem;
  @media screen and(max-width:768px) {
    height: 30rem;
  }
}

.formMessage {
  resize: none;
}
