@import './styles/base';
@import './styles/variables';

.services {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 2rem;
  padding: 10rem 5rem 5rem 5rem;
  background-color: $grey-color;

  .service {
    background-color: #fff;
    border-radius: 16px 16px 16px 16px;

    &__description {
      font-size: 1.5rem;
      padding: 2rem 3rem 4rem 3rem;
      display: grid;
      place-items: center;
    }

    &__title {
      font-size: 2rem;
      margin-bottom: 2rem;
      color: #222222;
      text-align: center;
    }

    a {
      color: #ff9900;

      &:hover {
        text-decoration: none;
      }
    }
  }
}
